body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
}
.imgBox{
    position: relative;
}
.imgBox img{
    width: 100px;
    height: 100px;
}
#HeaderSignUp{
    position: relative;
    color: #f6f6fc;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    line-height: 0.9em;
}
span{
    margin-bottom: 10px;
    color: white;
    font-weight: 100;
    font-size: 15px;
}
.inputBox{
    position: relative;
    margin-bottom: 20px;
    color: #fff;
}
.inputBox input{
    border: none;
    outline: none;
    background: transparent;
    border-radius: 20px;
    font-size: 1em;
}
.inputBox input[type="text"],
.inputBox input[type="password"]{
   width: 100%;
   padding: 15px 20px;
   padding-left: 40px;
   color: #fff;
   margin-bottom: 20px;
}
.inputBox i{
    position: absolute;
    left: 20px;
    top: 25%;
}
.inputBox input[type="submit"] {
    margin-bottom: 5px;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: #7849f4;
    letter-spacing: 1px;
    transition: 0.5s;
   
}
form .link{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}
.sucess{
    color: #0f0;
    margin-bottom: 10px;
}
.error{
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}